.slick {
  padding: 80px 10px;
}

.slick-slide > div {
  margin: 0 10px;
}
.slick-list {
  margin: 0 -10px;
}

.slick h2 {
  padding: 10px 0px 35px 20px;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.slick-prev {
  position: absolute;
  top: -50px;
  left: 93%;
}

.slick-next {
  position: absolute;
  top: -50px;
  right: 2%;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 30px;
  line-height: 1;
  opacity: 0.75;
  color: #088178;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 1050px) {
  .slick-prev {
    left: 90%;
  }
}

@media (max-width: 600px) {
  .slick-prev {
    left: 83%;
  }
}
