.smBanner-container {
  display: flex;
  gap: 10px;
  padding: 35px 60px;
}

.smBanner-blur {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(110, 110, 110, 0.25);
  backdrop-filter: blur(3px);
}

.smBanner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 50%;
  height: 70vh;
  background-image: url("https://omercerkezi.github.io/Ecommerce-App/static/media/smBanner4.09d2ee96dfff2ca8d44c.jpg");
  background-size: cover;
  background-position: center;
}

.smBanner-box2 {
  background-image: url("https://omercerkezi.github.io/Ecommerce-App/static/media/smBanner1.75e5e1def96b8363509e.jpg");
}

.smBanner-box h4 {
  color: white;
  font-size: 20px;
  font-weight: 300;
}

.smBanner-box h2 {
  color: white;
  font-size: 28px;
  font-weight: 800;
}

.smBanner-box span {
  color: white;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
}

.smBanner-container button {
  background: transparent;
  color: white;
  border: 1px solid white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
  padding: 11px 18px;
}

.smBanner-container button:hover {
  background-color: #088178;
  border: 1px solid #088178;
}

@media (max-width: 860px) {
  .smBanner-container {
    flex-direction: column;
    padding: 25px 40px;
  }
}
@media (max-width: 660px) {
  .smBanner-container {
    padding: 20px 20px;
  }
}
