.card-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-image {
  overflow: hidden;
}

.card-container img {
  cursor: pointer;
  width: 200px;
  height: 400px;
  object-fit: contain;
  object-position: top;
  transition: transform 0.6s ease-in-out;
}

.card-container img:hover {
  transform: scale(1.1);
}

.card-container .content {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  gap: 2px;
  padding: 0 10px;
}
.card-container .title {
  color: #1a1a1a;
  cursor: pointer;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
}
.card-container .title:hover {
  text-decoration: underline;
}

.card-container .price {
  color: #1a1a1a;
  font-size: 14px;
  font-weight: 600;
}

.card-container p {
  color: grey;
  font-size: 14px;
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 5%;
}

.empty .emtpy-header {
  font-size: 46px;
  line-height: 54px;
  font-weight: 600;
  color: #222;
}

.empty p {
  color: #465b52;
  margin-top: 15px;
}

.empty button {
  background-color: #138a82;
  color: white;
  border: 2px solid #138a82;
  width: 15%;
  margin-top: 30px;
  padding: 15px 10px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.empty button:hover {
  background-color: white;
  color: #138a82;
  transition: 0.3s;
}
