.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 80px;
}

.footer h2 {
  font-size: 22px;
  font-weight: 800;
  padding-bottom: 20px;
}

@media (max-width: 860px) {
  .footer {
    flex-direction: column-reverse;
    gap: 20px;
  }
}
